@import "../../app";
@import "../../minxin";

.pay-box{
  width: 700px;
  height: 96px;
  display: flex;
  position: fixed;
  bottom: -156px;
  box-shadow: 0 0 20px #ddd;
  left: 50%;
  transform: translate(-50%);
  z-index: 99;
  border-radius: 48px;
  .transition();
  &.active{
    bottom: 40px;
  }

  .info{
    border-radius: 48px 0 0 48px;
    flex: 1;
    display: flex;
    align-items: center;
    background: @c-666;
    color: #fff;
    font-weight: bold;
    image{
      width: 68px;
      height: 76px;
      margin-left: 38px;
    }
    .price{
      margin-left: 62px;
      font-size: 48px;
      &>text{
        font-size: 42px;
      }
    }
  }
  button{
    border-radius: 0 48px 48px 0;
    font-weight: bold;
    color: #fff;
    width: 208px;
    height: 96px;
    line-height: 96px;
    font-size: 36px;
  }
}
