

.coupon-modal-content{
  width: 640px;
  margin: 0 auto;
  image{
    width: 640px;
    height: 408px;
    margin: 0 auto;
    display: block;
  }
  .list{
    width: 584px;
    min-height: 300px;
    padding: 10px 18px 40px;
    box-sizing: border-box;
    margin: -30px auto 0;
    background: #CB394C;
    border-radius: 0 0 30px 30px;
  }
}
