@import "../../minxin";

.coupon{
  .title{
    height: 98px;
    position: relative;
    margin-top: 24px;
    &>view{
      font-size: 28px;
      line-height: 98px;
      position: absolute;
      height: 100%;
      width: 120px;
      text-align: center;
      color: @c-999;
      .transition();
      transition-property: left, font-size, width;
      &.active{
        font-size: 45px;
        width: 200px;
        font-weight: bold;
        left: ~"calc(50% - 90px)";
      }
    }
    .normal{
      top: 0;
      left: ~"calc(50% - 200px)";
    }
    .useless{
      top: 0;
      left: ~"calc(50% + 100px)";
    }
  }

  .content{
    height: ~"calc(100vh - 122px)";
    position: fixed;
    left: 0;
    bottom: 0;
    .transition(transform);
    &-1{
      transform: translate(-100%);
      &.active{
        transform: translate(0);
      }
    }
    &-2{
      transform: translate(100%);
      &.active{
        transform: translate(0);
      }
    }
    .null{
      padding-top: 290px;
      color: @c-ccc;
      image{
        width: 248px;
        height: 248px;
        display: block;
        margin: 0 auto;
      }
      View{
        font-size: 34px;
        text-align: center;
        margin-top: 44px;
      }
    }
    .coupon-list{
      width: 678px;
      margin: 30px auto 0;
      position: relative;
      min-height: ~"calc(100% - 30px)";
      box-sizing: border-box;
    }
  }

  .item{
    margin-bottom: 48px;
    &:last-of-type{
      margin-bottom: 100px;
    }
    .entity{
      display: flex;
      height: 200px;
      border-radius: 24px;
      box-shadow: 0 10px 40px #ddd;
      position: relative;
      .deno{
        width: 240px;
        font-size: 28px;
        color: #fff;
        text-align: center;
        border-radius: 24px 0 0 24px;
        background: @c-ccc;
        .price{
          font-size: 48px;
          margin: 40px 0 16px;
          font-weight: bold;
          &>text{
            font-size: 24px;
            font-weight: normal;
          }
        }
      }
      .desc{
        width: 390px;
        background: #fff;
        padding: 0 36px;
        box-sizing: border-box;
        font-size: 36px;
        .name{
          margin-top: 12px;
          color: @c-40;
          font-weight: bold;
          &.disabled{
            color: @c-666;
          }
        }
        .time{
          font-size: 24px;
          margin-top: 6px;
          color: @c-666;
        }
        .btn{
          padding: 6px 0 20px;
          font-size: 24px;
          color: @c-999;
        }
      }
      .handle, button{
        writing-mode: tb-rl;
        font-size: 28px;
        letter-spacing: 15px;
        text-align: center;
        width: 48px;
        line-height: 48px;
        color: #fff;
        border-radius: 0 24px 24px 0;
        padding: 0;
        flex: 1;
        background: @c-ccc;
      }
    }
    .condi{
      font-size: 24px;
      background: #fff;
      margin-top: -40px;
      padding: 50px 0 20px 27px;
      border-radius: 0 0 24px 24px;
      &>view{
        margin: 16px 0;
        color: @c-999;
      }
    }
  }
}
