@import "../../minxin";

.present-good{
  padding-top: 20px;
  box-sizing: border-box;
  .banner{
    width: 670px;
    height: 360px;
    border-radius: 20px;
    margin: 0 auto;
    display: block;
  }
  .good-list{
    padding: 30px 42px;
  }
  .more{
    width: 690px;
    height: 96px;
    line-height: 96px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 0;
    margin-top: 24px;
    border: 1px solid @c-ccc;
  }
}
