@import "../../minxin";

.copyright{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  padding-bottom: 60px;
  image{
    width: 165px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
  }
  view{
    font-size: 20px;
    text-align: center;
    color: @c-666;
  }
}
