
@default-bezier: cubic-bezier(.36, .66, .04, 1);

@c-ccc: #ccc;
@c-999: #999;
@c-666: #666;
@c-40: #404040;
@c-bf: #BFBFBF;
@c-f5: #f5f5f5;

.transition(@type: all, @time: 400ms) {
  transition: @type @default-bezier @time;
}

.lines-clamp(@lines) {
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @lines;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bottom-tooth() {
  overflow: hidden;
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    border-bottom: 20px dotted #e6e6e6;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
  }
}

.gap(@padding) {
  width: 100%;
  box-sizing: border-box;
  padding: @padding;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 1px;
  .line {
    height: 0;
    border-bottom: 1px dashed #E6E6E6;
  }
  &:before, &:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: #f5f5f5;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
  }
  &:after {
    left: unset;
    right: -15px;
  }
}


